* {

    margin:0;
    padding:0;
    box-sizing: border-box;
    

}

main section {
    display: flex;
}

main section article {
    text-align: center;
}

main section.sec1 {
    flex-direction: column;
}

main section.sec1 article.art1 {
    background-color: yellow;
}

main section.sec1 article.art2 {
    background-color: orange;
}